{% extends 'authentication_base.html' %}
{% load static %}
{% block title %}
    OTP
{% endblock %}
{% block content %}

    <body>
    <div class="login-body">
        <div class="container position-relative">
            <div class="login-img-1">
                <img class="w-100 rounded-circle" src="{% static 'assets/img/log/log-1.png' %}" alt="animation img">
            </div>
            <div class="login-img-2">
                <img class="w-100 rounded-circle" src="{% static 'assets/img/log/log-2.png' %}" alt="animation img">
            </div>
            <div class="login-img-3">
                <img class="w-100 rounded-pill" src="{% static 'assets/img/log/log-3.png' %}" alt="animation img">
            </div>
            <div class="login-img-4">
                <img class="w-100 rounded-circle" src="{% static 'assets/img/log/log-4.png' %}" alt="animation img">
            </div>

            <div class="login-img-5">
                <img class="w-100 rounded-pill" src="{% static 'assets/img/log/log-5.png' %}" alt="animation img">
            </div>

            <div class="d-center h-100vh">
                <div class="login-form">
                    <h5 class="tpc-2 mb-sm-30 mb-3 text-center"> Specialized Creativity Center <span class="fw-normal tsc-1"> Medical </span></h5>

                    {% include '_messages.html' %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-20">
                            <label class="mb-3 d-block para-1b fw-medium">Enter OTP </label>
                            <input type="number" maxlength="4" class="login-input" name="otp_number"  required>
                        </div>



                        <button class="btn-1 heading-six w-100 mb-sm-30 mb-3 bgpc-2 tnc-10" type="submit">Verify OTP</button>
                    </form>
                    <div class="text-center">
                        <span class="para-1b fs-base">Don't have an account? <a href="javascript:void(0)" class="tpc-2">Create Account</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </body>

{% endblock %}