{% extends 'website_base.html' %}

{% load static %}
{% block title %}
    Technology
{% endblock %}
{% block content %}

    <!-- hero section start  -->
    <section class="hero-4 sec-pad bgc-2">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 wow fadeInDown" data-wow-duration="2s">
                    <h2 class="tnc-10 text-center mb-20">Innovative Technology</h2>
                    <p class="tnc-10 text-center">
                        The Specialized Creativity Center Bioelectronics therapy allows the organism to self-balance even when the
                        therapeutic practice is not well coordinated...
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- hero section end  -->

    <!-- technology content start  -->
    <section class="tech-content sec-pad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="tech-content-banner mb-lg-60 mb-40 wow fadeInDown">
                        <img class="w-100 br-sm" src="{% static 'website/assets/img/banner/tech-con-banner.png' %}" alt="banner">
                    </div>
                    <h4 class="wow fadeInUp">
                        Think of the human body as a lake and the cells of the body as fish living in the lake, they get
                        their nutrients and food from feeding in the lake.
                    </h4>
                    <span class="para-bq d-block mb-sm-30 mb-20 wow fadeInDown">
                        There is a natural ecology to the lake with micro plant life and insects that provide those
                        items necessary for health and wellbeing.
                    </span>
                    <p class="mb-sm-4 mb-3 wow fadeInUp">
                        The quality and PH of the water is also necessary to promote a healthy existence. The fish feed
                        by their mouth and it is necessary for them to feed for their quality of life. Compare that with
                        the human body, our interstitial fluid, is our bodies lake.
                    </p>
                    <p class="mb-sm-4 mb-3 wow fadeInDown">
                        Unlike fish we do not feed with a mouth, but our cells are made of a semi-permeable membrane
                        which allows food and nutrition in and waste products out. If we compare the cell with the
                        largest organ in our body, our skin, we see that it allows ointment to permeate our skin and
                        sunshine gives us vitamin D, to use just two examples. Waste can be excreted via the skin, in
                        the form of sweat.
                    </p>
                    <p class="mb-sm-4 mb-3 wow fadeInUp">
                        Now to getting back to the human cell, the only way we can assist a diseased cell back to good
                        health, is by the environment surrounding it. The healthier we make the interstitial fluid; the
                        more nutrients can pass through the cell membrane and the more toxins we can get out.
                    </p>
                    <p class="mb-sm-4 mb-3 wow fadeInDown">
                        The Specialized Creativity Center Holistic Therapy can diagnose and offer the correct frequencies, necessary to
                        affect the tension of the interstitial fluid, to achieve maximum cell health.
                    </p>
                    <p class="mb-sm-4 mb-3 wow fadeInUp">
                        There is a natural connection between healthy tissue and a feeling of wellbeing, our system can
                        detect toxins (products of unhealthy tissue) and while the treatment is aimed at specific areas,
                        it will have a beneficial effect on surrounding tissue.
                    </p>
                    <p class="wow fadeInDown">
                        The Specialized Creativity Center BioCell Holistic Therapy circumvents both tension and toxic and organizational
                        powers; enhancing the vital force and increasing the health, of what was previously in
                        contradiction.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- technology content end  -->


    <!-- bioelectronics technology start  -->
    <section class="be-tech sec-pad-top pb-6 bgc-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 wow fadeInDown">
                    <div class="play-btn mb-30">
                        <a href="https://www.youtube.com/watch?v=np4I_tTWopg" class="d-center popupvideo mfp-iframe">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div>
                    <h2 class="tnc-10 mb-20 text-center"><span class="d-block">Specialized Creativity Center Bioelectronics</span>
                        Technology </h2>
                    <p class="text-center tnc-10">
                        The Specialized Creativity Center Bioelectronics Holistic Therapy focuses on finding balance and addressing all
                        aspects of life and provides healthy outlets, new coping mechanisms, and different ways to
                        express oneself in...
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- bioelectronics technology end  -->


    <!-- innovative science start  -->
    <section class="innovative-science sec-pad">
        <div class="container">
            <div class="row justify-content-between mb-sm-40 mb-20 g-sm-40 g-20">
                <div class="col-lg-6">
                    <div class="innovative-banner wow fadeInUp">
                        <img class="w-100 br-sm" src="{% static 'website/assets/img/banner/innovative-banner.png' %}" alt="banner">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInDown">
                    <h4 class="mb-20">Innovative Science</h4>
                    <p>
                        Specialized Creativity Center technology is not designed to cure. The act of healing is a natural human process, in
                        response to disease and feeling unwell.
                        This technology works in harmony with normal healthy physiology, with its innate intelligence,
                        to awaken the sources of its power. This power is limited to the adaptive capacities of nature
                        when applied and its main objective is to recover the adaptive memory to life that every living
                        being possesses.
                        It is therefore an instrument, a tool, that reaches its value when it meets the vital qualities,
                        vital force, or energy that the person possesses.
                        And the first quality it controls for its effectiveness is water. Water is a bad conductor of
                        electricity. This characteristic is used by nature to accelerate or slow down the bio-energetic
                        movements that will give rise to the complexities of physiol...
                    </p>
                </div>
            </div>
            <p class="mb-4 wow fadeInUp">
                This characteristic is used by nature to accelerate or slow down the bio-energetic movements that will
                give rise to the complexities of physiology and with it the maintenance of life. And because of those
                changes and subtleties, the concept of “consciousness.” Consciousness is loaded with intelligence, mind
                and perception. The concept of this technology is imbued with the strength and intelligent capacity of
                water as a conductive element and with it the virtues that can be taken advantage of, as food for the
                body and its connection to the soul through consciousness. It aims to be, therefore, an integral
                vehicle, a connector that promotes and translates the electromagnetic force that in nature is raw, and
                not , in an instrument like a food. The water would be modified by this intervention giving a
                supplementary character, enriching, and therefore activating the qualities to promote and rehabilitate
                health.
            </p>
            <p class="wow fadeInDown">
                Specialized Creativity Center translates the primary force of nature (electromagnetic) into an intelligent complex of
                frequencies, stimulating the body to utilise the nutrition to repair. This is achieved by utilising
                variable frequencies, in such a way that it also adapts to other frequencies in a better assimilation
                and therefore accelerates the vitality and viability of human tissue..
            </p>
        </div>
    </section>
    <!-- innovative science end  -->


    <!-- call to action start -->
    <section class="call-to-act">
        <div class="container position-relative">
            <div class="row align-items-center justify-content-between gy-4 gy-lg-0">
                <div class="col-lg-5 order-last order-lg-first wow fadeInDown">
                    <div class="CTA-banner">
                        <img src="{% static 'website/assets/img/banner/cat-banner.png' %}" alt="banner">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp">
                    <h2 class="mb-20">
                        Subscribe to our newsletter.
                    </h2>
                    <span class="para-1b d-block mb-sm-40 mb-20">Sign up with your email address to receive news and
                        updates.</span>
                    <form action="#">
                        <div class="cat-form">
                            <input type="email" placeholder="Enter your gmail">
                            <button class="para-1b fw-bold btn-lg-1 border-0 ">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- call to action end -->

{% endblock %}