   {% load static %}

    <!-- footer section start  -->
    <footer class="footer sec-pad-top">
        <div class="container position-relative">
            <div class="row justify-content-between gy-4 pb-lg-6 pb-40 bb-1">
                <div class="col-lg-4 col-md-6 wow fadeInDown">
                    <div class="footer-logo mb-sm-30 mb-3">
                        <a href="{% url 'index' %}"> <img src="{% static 'website/assets/img/SCC_logo (2).png' %}" alt="logo"></a>
                    </div>
                    <br>
                    <p class="tnc-10 mb-sm-30 mb-20">
                        The Specialized Creativity Center Bioelectronic Holistic Therapy focuses on finding balance and addressing all
                        aspects of life and provides healthy outlets, new coping mechanisms, and different ways to
                        express oneself in a productive way.
                    </p>
                    <ul class="footer-social-icon">
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp">
                    <span class="heading-four tnc-10 mb-sm-30 mb-12">Quick Links</span>
                    <ul class="d-grid gap-10">
                        <li><a href="index.html" class="para-1b tnc-10 ">Home</a></li>
                        <li><a href="javascript:void(0)" class="para-1b tnc-10 ">Specialized Creativity Center Concept</a></li>
                        <li><a href="javascript:void(0)" class="para-1b tnc-10 ">How it Works</a></li>
                        <li><a href="javascript:void(0)" class="para-1b tnc-10 ">Specialized Creativity Center Treatment</a></li>
                        <li><a href="javascript:void(0)" class="para-1b tnc-10 ">Specialized Creativity Center Therapy</a></li>
                        <li><a href="javascript:void(0)" class="para-1b tnc-10 ">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInDown">
                    <span class="heading-four tnc-10 mb-sm-30 mb-12">Office</span>
                    <ul class="d-grid gap-3">
                        <li><a href="tel:4401144372799" class="para-1b tnc-10 "> + 44 (0) 114 437 2799</a></li>
                        <li><a href="mailto:info@healtheasehealth.co.uk"
                                class="para-1b tnc-10 text-lowercase">info@healtheasehealth.co.uk</a></li>
                        <li class="para-1b tnc-10">Kollider, Castle House, Angel Street, Sheffield, S3 8LN, United
                            Kingdom</li>
                    </ul>
                </div>

            </div>
            <span class="d-block para-1b tnc-10 py-30 text-center wow fadeInDown">Copyright © <span class="currentYear"></span> <a
                    href="javascript:void(0)" class="tsc-2">Specialized Creativity Center Medical</a>. All Rights Reserved </span>
        </div>
    </footer>
    <!-- footer section end  -->