{% load static %}
    <!-- back to top  -->
    <button class="back-to-top" id="back-to-top"></button>

    <!-- preloader  -->
    <div id='preloader'>
        <svg id='loader-1' height='210' width='550' xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink'>
            <path id='loader-2' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round'
                d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' />
        </svg>
    </div>


    <!-- header start  -->
    <header class="bglc-3">
        <div class="container position-relative">
            <div class="d-between py-20">
                <div class="d-between gap-xl-6 gap-sm-40 gap-20">
                    <div class="site-title">
                        <a href="{% url 'index' %}">
                            <img class="w-100" src="{% static 'website/assets/img/SCC_logo (2).png' %}" alt="logo">
                        </a>
                    </div>
                    <nav class="menu-bar">
                        <ul>

                            <li>
                                <a class="menu-item" href="{% url 'index' %}">Home</a>
                            </li>

                            <li>
                                <a class="menu-item" href="{% url 'technology' %}">Techonolgy</a>
                            </li>
                            <li>
                                <a class="menu-item" href="{% url 'contact_us' %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-between gap-sm-20 gap-10">
                    <div class="cnt-portal">
                        <a href="{% url 'Login' %}" class="btn-1 para-1b fw-bold text-capitalize">Login</a>
                    </div>
                    <div class="sm-menu d-block d-lg-none">
                        <i class="fa-solid fa-bars menu-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end  -->