{% extends 'admin_site/dashboard_base.html' %}

{% load static %}
{% block title %}
    Admin Dashboard
{% endblock %}
{% block content %}




    <!-- content section start   -->
    <div class="main-content">
        <!-- main content start -->
        <div>
            <div class="page-title justify-content-end">
                <!-- <h3>Edit Patient</h3> -->
                <ul class="d-flex align-items-center gap-20">
                    <li class="bc-item"><a class="para-1b" href="#">Dashboard</a></li>
                    <li class="bc-item"><a class="para-1b" href="#">Profile</a></li>
                    <li class="bc-item">Update Profile</li>
                </ul>
            </div>
            {% include '_messages.html' %}

            <div class="bgnc-10 br-sm p-sm-30 p-10">
                <span class="heading-five mb-sm-30 mb-3">Edit Patient</span>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row gy-20">
                        <div class="col-lg-6">

                            <div class="mb-20">
                                <label class="mb-10 fw-semibold">Name <span class="tsc-1">*</span></label>
                                <div class="form-input-box">
                                    <i class="fa-solid fa-user-nurse form-icon"></i>
                                    <input type="text" placeholder="Name" name="pname" value="{{ patient_info.name }}">
                                </div>
                            </div>


                            <div class="mb-20">
                                <label class="mb-10 fw-semibold">Gender</label>
                                <div class="form-input-box">
                                    <i class="fa-solid fa-restroom form-icon"></i>
                                    <select name="gender" class="wide" >
                                        <option value="{{ patient_info.gender }}" selected>{{ patient_info.gender }}</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label class="mb-10 fw-semibold">Date of Birth ({{ patient_info.DOB }}<span class="tsc-1">*</span></label>
                                <div class="form-input-box">
                                    <i class="fa-regular fa-calendar-days form-icon"></i>
                                    <input type="date" name="dob" >
                                </div>
                            </div>
                            <div>
                                <label class="mb-10 fw-semibold">Health Insurance<span class="tsc-1">*</span></label>
                                <div class="form-input-box">
                                    <i class="fa-regular fa-circle-check form-icon"></i>
                                    <select name="health_insurance" class="wide" >
                                        <option value="{{patient_info.health_insurance }}" selected>{{patient_info.health_insurance }}</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-20">
                                <label class="mb-10 fw-semibold">Email <span class="tsc-1">*</span></label>
                                <div class="form-input-box">
                                    <i class="fa-regular fa-envelope form-icon"></i>
                                    <input type="email" name="email" placeholder="Email" value="{{ patient_info.email }}">
                                </div>
                            </div>

                            <div class="mb-20">
                                <label class="mb-10 fw-semibold">Phone</label>
                                <div class="form-input-box">
                                    <i class="fa-solid fa-phone-volume form-icon"></i>
                                    <input type="number" name="phone_no" placeholder="Number" value="{{ patient_info.phone }}">
                                </div>
                            </div>


                            <div class="mb-20">
                                <label class="mb-10 fw-semibold">Address</label>
                                <textarea class="form-input-textbox" name="address" rows="4"
                                          placeholder="Address">{{ patient_info.address }}</textarea>
                            </div>


                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-sm-4 gap-3 mt-sm-40 mt-4">
                        <button type="submit" class="btn-2 para-1b fw-bold">Submit</button>
                        <a href="#" class="btn-1 para-1b fw-bold">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
        <footer>
            <div class="container-fluid">
                    <span class="para-1b fs-base text-center text-sm-start d-block ">Copyright © <span
                            class="currentYear"></span> Specialized Creativity Center. All
                        rights reserved.</span>
            </div>
        </footer>


    </div>

    </main>

{% endblock %}